<div class="row">
    <div class="col-md-12">
        <h1 class="text-uppercase text-center">matriz mdf</h1>
        <hr>
        <table class="table table-bordered table-dark">
            <thead class="thead-dark">
              <tr>
                <th>Nombre Archivo</th>
                <th>Tamaño</th>
                <th>Tipo</th>
                <th>Previsualización</th>
                <th>
                    Ultima Modificación
                </th>
                <th>
                    Procesar
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items | async">
                <td class="text-center">
                  {{ item.nombre }}
                </td>
                <td>
                    {{ item.size / 1024 / 1024 | number: ".2-2" }} MB
                </td>
                <td>
                    {{ item.type }}
                </td>
                <td *ngIf="item.type.includes('image')">
                    <img width="100" class="rounded img-fluid img-thumbnail" [src]="item.url" />
                </td>
                <td  *ngIf="item.type.includes('pdf')">
                    <fa-icon [icon]="faFilePdf" size="7x"></fa-icon>
                </td>
                <td  *ngIf="item.type.includes('text/plain')">
                    <fa-icon [icon]="faFileAlt" size="7x"></fa-icon>
                </td>
                <td  *ngIf="item.type.includes('application/msword')">
                    <fa-icon [icon]="faFileWord" size="7x"></fa-icon>
                </td>
                <td  *ngIf="item.type.includes('openxml') || item.type.includes('ms-excel')">
                    <fa-icon [icon]="faFileExcel" size="7x"></fa-icon>
                </td>
                <td *ngIf="item.type.includes('video')">
                    <video [src]="item.url" controls width="320" height="240">
                        Tu navegador no implementa el elemento <code>video</code>.
                    </video>
                </td>
                <td>
                    {{ item.lastModified | date}}
                </td>
                <td>
                    <button class="btn btn-outline-success">
                      Procesar
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
