<hr />
<div class="row">
  <div class="col">
    <!--h3 class="text-primary text-uppercase lead">usarios registrados</h3!-->
    <table class="table table-bordered table-dark">
      <thead class="thead">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre y Apellidos</th>
          <th scope="col">Perfil</th>
          <th scope="col">Email</th>
          <th scope="col">Actualizar</th>
          <th scope="col">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuariosRegistrados">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.name }}</td>
          <td>
            {{
              usuario.perfil == "AD"
                ? "administrador"
                : usuario.perfil == "AP"
                ? "analista de pruebas"
                : "lider de pruebas"
            }}
          </td>
          <td>{{ usuario.email }}</td>
          <td>
            <button
              [routerLink]="[
                '/usuarios/actualizar/',
                usuario.id,
                usuario.email,
                usuario.name,
                usuario.perfil,
                usuario.password
              ]"
              class="btn btn-primary"
            >
              <i class="fa fa-pen"></i> Actualizar
            </button>
          </td>
          <td>
            <button (click)="borrar(usuario)" class="btn btn-danger">
              <i class="fa fa-trash"></i> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="alert alert-danger" role="alert" *ngIf="alertBorrado">
      Usuario eliminado con exito!
    </div>
  </div>
</div>
