<h1 class="display-3 text-center bg-primary text-white">
  {{ titulo | uppercase }}
</h1>

<hr />

<div class="row justify-content-md-center">
  <div class="col-12 col-sm-12 col-md-8 text-center">
    <div class="card animate__animated animate__headShake">
      <img
        src="assets/img/integrantes/johanna_arias.jpeg"
        class="card-img-top"
        alt="Johanna Arias"
      />
      <div class="card-body">
        <h5 class="card-title text-success">johanna arias</h5>
        <p class="card-text">
          Programadora, analista, diseñador, y desarrolladora de pruebas.
        </p>
      </div>
    </div>
  </div>
</div>
