<h1>integrantes</h1>

<div class="row">
  <div class="col-12 col-sm-12 col-md-6">
    <div class="card">
      <img
        src="assets/img/integrantes/andres_bastidas.png"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">andres bastidas</h5>
        <p class="card-text">
          Jefe de desarrollo del sistema, programador, y desarrollador de
          pruebas.
        </p>
      </div>
    </div>
  </div>

  <br />

  <div class="col-12 col-sm-12 col-md-6">
    <div class="card">
      <img
        src="assets/img/integrantes/johanna_arias.jpeg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">johanna arias</h5>
        <p class="card-text">
          Programadora, analista, diseñador, y desarrolladora de pruebas.
        </p>
      </div>
    </div>
  </div>
</div>
